<form id = "auth">
  <div class="container">
    <h1>Log in</h1>
    <p>Login to your account.</p>
    <hr>
    <label for="title-input" class="block mar-b-1">Username:</label>
    <input id="title-input" name="name" type="text"  tabindex="1" class="block w-100 ">
    <label for="title-input" class="block mar-b-1">Email:</label>
    <input id="title-input" name="mail" type="text"  tabindex="2" class="block w-100 ">
    <label for="title-input" class="block mar-b-1">Password:</label>
    <input id="title-input" name="pass" type="text"  tabindex="3" class="block w-100 ">
    <button type="submit" class="btn btn-primary mt-3" style="width: 120px;"id="">
      <bold>Log in</bold>
    </button>
  </div>
</form>
