<form id = "auth">
  <div class="container">
    <h1>Вход</h1>
    <p>Войти в свой аккаунт</p>
    <hr>
    <label for="title-input" class="block mar-b-1">Имя:</label>
    <input id="title-input" name="name" type="text"  tabindex="1" class="block w-100 ">
    <label for="title-input" class="block mar-b-1">Email:</label>
    <input id="title-input" name="mail" type="text"  tabindex="2" class="block w-100 ">
    <label for="title-input" class="block mar-b-1">Password:</label>
    <input id="title-input" name="pass" type="text"  tabindex="3" class="block w-100 ">
    <button type="submit" class="btn btn-primary mt-3" style="width: 120px;"id="">
      <bold>Войти</bold>
    </button>
    <br>

      <div>
    <p>У вас нет ещё аккаунта? <a href="/register">Зарегистироваться</a>.</p>
  </div>
  </div>
</form>
