<form id = "reg" >
  <div class="container">
    <h1>Регистрация</h1>
    <p>Заполните поля для регистрации аккаунта</p>
    <hr>
    <div class="input-wrapper">
      <div class="input">
        <label for="title-input" class="block mar-b-1">Имя:</label>
        <input id="title-input" name="name" type="text"  tabindex="1" class="block w-100 ">
      </div>
      <div class="input">
        <label for="title-input" class="block mar-b-1">Email:</label>
        <input id="title-input" name="mail" type="text"  tabindex="2" class="block w-100 ">
      </div>
      <div class="input">
        <label for="title-input" class="block mar-b-1">Password:</label>
        <input id="title-input" name="pass" type="text" tabindex="3" class="block w-100 ">
      </div>
    </div>
    <button type="submit" class="btn btn-primary mt-3" style="margin: 10px 0px" id="regbtn">
      <bold>Зарегистрироваться</bold>
    </button>
 <div>
  Создавая аккаунт вы соглашаетесь с <a href="#">Политикой конфиденциальности</a>.
  </div>
  <div class="container signin">
    <p>Уже есть аккаунт? <a href="/">Войти</a></p>
  </div>
  </div>
</form>
