body {
  background-color: white;
}
h1 {
  margin: 15px;
}

.navbar {
  background-color: white;
}

.pref {
display: flex;
flex-direction: row;
justify-content: space-between;
max-width: 150px;
min-height: 40px;
}

.container-block {
  display: flex;
  justify-content: flex-start;
  margin: 20px;
}
.news-list-wrapper{ 
  display: flex;
  flex-wrap: wrap;
}

.card-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.back{
 display: flex;
 margin-left: 10px;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 20px;
}

.width200 {
  width: 200px;
}

.width600 {
  width: 600px;
}

.btn-to-get-by-class {

}

.inputs {
  display: flex;
flex-direction: row;
justify-content: space-around;
min-height: 400px;
padding-top: 30px;
}

.li {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  list-style-type: none;
  font-size: 22px;
}

.btn-danger{ 
  width: 20px;
  height: 20px;
}

.bg-secondary {
  font-size: 14px;
  margin-left: 20px;
}

.block {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 768px) and (max-width: 1400px) {
  .inputs {
    flex-direction: column;
  }
}
